body {
        font-family: sans-serif;
        color: #222;
		  margin-left: 50px;
		  margin-right: 1000px;
    }

h1, h2, h3 {
        margin: 0 0 0.35em;
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 20px;
    }

    p {
        margin: 0 0 1.15em;
    }

    p + h2 {
        margin-top: 1.5em;
    }

    header, main, footer {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        background-color: rebeccapurple;
        color: #fff;
        padding: 24px;
    }

    /* header, main, footer { */
    .container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 24px;
    }

    footer {
        border-top: 2px solid rebeccapurple;
    }

    .img--align-left {
      float: left; /* replaces the style previously inherited by the browser */
      margin: 0 16px 16px 0;
    }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

ol {
	line-height: 30px;
}
